.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ececec;
}
.header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.header-contact__item {
    margin-right: 50px;
}

.header-contact__item:last-child {
    margin-right: 0;
}

.header-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color var(--anim);
    transition: color var(--anim);
    color: var(--after-title-color);

}

.header__icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-contact__link:hover,
.header-contact__link:focus {
    color: var(--accent-color);
}